.members-JEoQL .header-mwYSN {
  display: flex;
  flex-flow: column nowrap;
}
.members-JEoQL .header-mwYSN > input[type=text] {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(26, 26, 26, 0.25);
  font-size: larger;
}
.members-JEoQL .header-mwYSN .amount-yqXRU {
  font-size: 75%;
  color: rgba(26, 26, 26, 0.5);
}
.members-JEoQL .list-RQwCI {
  display: flex;
  flex-flow: row wrap;
}
.members-JEoQL .list-RQwCI > * {
  display: flex;
  width: 50%;
}
@media screen and (max-width: 520px) {
  .members-JEoQL .list-RQwCI > * {
    width: 100%;
  }
}
.members-JEoQL .list-RQwCI > * > * {
  display: flex;
  flex: 1;
}
.member-x7z\+p .button-RRZOk {
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(26, 26, 26, 0.25);
  padding: 8px 8px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.member-x7z\+p .button-RRZOk > *:first-child {
  margin-top: 0;
}
.member-x7z\+p .button-RRZOk > *:last-child {
  margin-bottom: 0;
}
.member-x7z\+p > .button-RRZOk {
  margin: 8px 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
.member-x7z\+p > .button-RRZOk:after {
  align-self: center;
  margin-top: auto;
  content: '▼';
  font-size: smaller;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.member-x7z\+p > .button-RRZOk:hover,
.member-x7z\+p > .button-RRZOk:focus,
.member-x7z\+p > .button-RRZOk:active,
.member-x7z\+p > .button-RRZOk.open-OVdOg {
  transform: scale(1.05, 1.05);
}
.member-x7z\+p > .button-RRZOk:hover:after,
.member-x7z\+p > .button-RRZOk:focus:after,
.member-x7z\+p > .button-RRZOk:active:after,
.member-x7z\+p > .button-RRZOk.open-OVdOg:after {
  opacity: 1;
}
.member-x7z\+p > .modal-Izjj1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.3s;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww {
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(26, 26, 26, 0.25);
  padding: 8px 8px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  max-width: 768px;
  cursor: initial;
  transition: transform 0.3s;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > *:first-child {
  margin-top: 0;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > *:last-child {
  margin-bottom: 0;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > .button-RRZOk {
  background-color: none;
  box-shadow: none;
  padding: 0;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > .close-b-3Go {
  align-self: end;
  padding: 0 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > .close-b-3Go:after {
  content: '✕';
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > .close-b-3Go:hover,
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > .close-b-3Go:focus {
  background-color: #a04040;
  color: #e6e6e6;
}
.member-x7z\+p > .modal-Izjj1 > .content-0R7Ww > .close-b-3Go:active {
  background-color: #800000;
  color: #e6e6e6;
}
.member-x7z\+p > .modal-Izjj1.enter-M395e,
.member-x7z\+p > .modal-Izjj1.exit-SpBty.exitActive-DAAFh {
  opacity: 0;
}
.member-x7z\+p > .modal-Izjj1.enter-M395e > .content-0R7Ww,
.member-x7z\+p > .modal-Izjj1.exit-SpBty.exitActive-DAAFh > .content-0R7Ww {
  transform: scale(0);
}
.member-x7z\+p > .modal-Izjj1.exit-SpBty,
.member-x7z\+p > .modal-Izjj1.enter-M395e.enterActive-EP8\+t {
  opacity: 1;
}
.member-x7z\+p > .modal-Izjj1.exit-SpBty > .content-0R7Ww,
.member-x7z\+p > .modal-Izjj1.enter-M395e.enterActive-EP8\+t > .content-0R7Ww {
  transform: none;
}


/*# sourceMappingURL=445.fade56f0c37c0f1c3736.css.map*/