.members-d9FK5 .header-NyaAS {
  display: flex;
  flex-flow: column nowrap;
}
.members-d9FK5 .header-NyaAS > input[type=text] {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(26, 26, 26, 0.25);
  font-size: larger;
}
.members-d9FK5 .header-NyaAS .amount-td9rY {
  font-size: 75%;
  color: rgba(26, 26, 26, 0.5);
}
.members-d9FK5 .list-jsL9Y {
  display: flex;
  flex-flow: row wrap;
}
.members-d9FK5 .list-jsL9Y > * {
  display: flex;
  width: 50%;
}
@media screen and (max-width: 520px) {
  .members-d9FK5 .list-jsL9Y > * {
    width: 100%;
  }
}
.members-d9FK5 .list-jsL9Y > * > * {
  display: flex;
  flex: 1;
}
.member-xA4DB .button-yiO_R {
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(26, 26, 26, 0.25);
  padding: 8px 8px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.member-xA4DB .button-yiO_R > *:first-child {
  margin-top: 0;
}
.member-xA4DB .button-yiO_R > *:last-child {
  margin-bottom: 0;
}
.member-xA4DB > .button-yiO_R {
  margin: 8px 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
.member-xA4DB > .button-yiO_R:after {
  align-self: center;
  margin-top: auto;
  content: '▼';
  font-size: smaller;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.member-xA4DB > .button-yiO_R:hover,
.member-xA4DB > .button-yiO_R:focus,
.member-xA4DB > .button-yiO_R:active,
.member-xA4DB > .button-yiO_R.open-ll1Hk {
  transform: scale(1.05, 1.05);
}
.member-xA4DB > .button-yiO_R:hover:after,
.member-xA4DB > .button-yiO_R:focus:after,
.member-xA4DB > .button-yiO_R:active:after,
.member-xA4DB > .button-yiO_R.open-ll1Hk:after {
  opacity: 1;
}
.member-xA4DB > .modal-RBb6I {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.3s;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 {
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(26, 26, 26, 0.25);
  padding: 8px 8px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  max-width: 768px;
  cursor: initial;
  transition: transform 0.3s;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > *:first-child {
  margin-top: 0;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > *:last-child {
  margin-bottom: 0;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > .button-yiO_R {
  background-color: none;
  box-shadow: none;
  padding: 0;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > .close-jjCHK {
  align-self: end;
  padding: 0 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > .close-jjCHK:after {
  content: '✕';
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > .close-jjCHK:hover,
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > .close-jjCHK:focus {
  background-color: #a04040;
  color: #e6e6e6;
}
.member-xA4DB > .modal-RBb6I > .content-t1iW8 > .close-jjCHK:active {
  background-color: #800000;
  color: #e6e6e6;
}
.member-xA4DB > .modal-RBb6I.enter-INOzh,
.member-xA4DB > .modal-RBb6I.exit-c2E9O.exitActive-yzK25 {
  opacity: 0;
}
.member-xA4DB > .modal-RBb6I.enter-INOzh > .content-t1iW8,
.member-xA4DB > .modal-RBb6I.exit-c2E9O.exitActive-yzK25 > .content-t1iW8 {
  transform: scale(0);
}
.member-xA4DB > .modal-RBb6I.exit-c2E9O,
.member-xA4DB > .modal-RBb6I.enter-INOzh.enterActive-g81Zw {
  opacity: 1;
}
.member-xA4DB > .modal-RBb6I.exit-c2E9O > .content-t1iW8,
.member-xA4DB > .modal-RBb6I.enter-INOzh.enterActive-g81Zw > .content-t1iW8 {
  transform: none;
}


/*# sourceMappingURL=961.8b64aadd14fb9307ce63.css.map*/