@import '~base';

.header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: @spacing-y 0;

    .navigation {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        min-width: 75%;
        align-items: baseline;

        a {
            margin: 0 @spacing-x;
            color: @color-text;
            transition: color @duration-transition;

            &:hover, &:active, &.active {
                color: @color-text-active;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 0 @spacing-x;
        font-weight: bold;
    }
}

