@import '~base';

.header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    .active() {
        background-color: @color-bg-active;
        color: @color-text-bg-active;
    }

    .hover() {
        background-color: @color-bg-hover;
        color: @color-text-bg-hover;
        text-decoration: none;
    }

    font-weight: bold;
    font-size: 110%;

    a, > .dropdown .button {
        display: flex;
        align-items: center;

        padding: 0 @spacing-x;

        color: @color-text;
        transition: color @duration-transition;
        transition: background-color @duration-transition;

        cursor: pointer;

        &:hover, &:focus {
            .hover();
        }

        &:active, &.active {
            .active();
        }
    }

    a {
        &.active {
            .active();
        }
    }

    > .dropdown {
        position: relative;
        display: flex;
        flex-flow: column nowrap;

        .button {
            flex: 1;
            z-index: 200;

            &:hover, &:focus {
                .hover();
            }

            &:active {
                .active();
            }
        }

        .menu {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;

            z-index: 100;
            position: absolute;
            top: 100%;
            left: 0;

            .active();

            visibility: hidden;
            opacity: 0;
            transform: rotateX(90deg);
            transform-origin: top center;

            transition-property: opacity, transform, visibility;
            transition-duration: @duration-transition;

            > a {
                padding: @spacing-y @spacing-x;
                color: inherit;
                background-color: inherit;

                &:hover, &:focus, &:active, &.active {
                    .hover();
                }
            }
        }

        &.open {
            .button {
                .active();
            }

            .menu {
                visibility: visible;
                opacity: 1;
                transform: none;
            }
        }
    }

    > .logo {
        display: flex;
        align-items: center;

        font-weight: bold;
        font-size: 150%;

        > * {
            padding: @spacing-y @spacing-x;
        }
    }
}

