@import '~base';

.header {
    position: relative;
    display: flex;
    box-shadow: @box-shadow;
    margin-bottom: @spacing-y;

    .navigation {
        flex: 1;
        display: flex;
        flex-flow: row wrap;

        width: 100%;
        max-width: @width-container-max;
        margin: 0 auto;
        padding: 0 @spacing-x;
        box-sizing: border-box;

        .active() {
            background-color: @color-bg-active;
            color: @color-text-bg-active;
        }

        .hover() {
            background-color: @color-bg-hover;
            color: @color-text-bg-hover;
            text-decoration: none;
        }

        font-weight: bold;
        font-size: 110%;

        a, > .dropdown .button {
            display: flex;
            align-items: center;

            padding: @spacing-y @spacing-x;

            color: @color-text;
            transition: color @duration-transition;
            transition: background-color @duration-transition;

            cursor: pointer;

            &:hover, &:focus {
                .hover();
            }

            &:active, &.active {
                .active();
            }
        }

        a {
            &.active {
                .active();
            }
        }

        > .dropdown {
            position: relative;
            display: flex;
            flex-flow: column nowrap;

            .button {
                flex: 1;
                z-index: 200;

                &:hover, &:focus {
                    .hover();
                }

                &:active {
                    .active();
                }
            }

            .menu {
                display: flex;
                flex-flow: column nowrap;
                align-items: stretch;

                z-index: 100;
                position: absolute;
                top: 100%;
                left: 0;

                background-color: @color-bg;
                color: @color-text;
                box-shadow: @box-shadow;

                visibility: hidden;
                opacity: 0;
                transform: rotateX(90deg);
                transform-origin: top center;

                transition-property: opacity, transform, visibility;
                transition-duration: @duration-transition;
            }

            &.open {
                .button {
                    .active();
                }

                .menu {
                    visibility: visible;
                    opacity: 1;
                    transform: none;
                }
            }
        }

        > .logo {
            display: flex;
            align-items: center;

            font-weight: bold;
            font-size: 150%;
        }
    }
}

