@import '~base';

.members {
    .header {
        display: flex;
        flex-flow: column nowrap;

        > input[type=text] {
            background: none;
            border: none;
            border-bottom: @border;

            font-size: larger;
        }
    }

    .memberList {
        display: flex;
        flex-flow: row wrap;

        > .member {
            flex: 1 0 auto;
            width: 50%;

            .media-screen-sm({
                width: 100%;
            });

            padding: @spacing-y @spacing-x;
            box-sizing: border-box;
        }
    }
}

